h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BODY */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* header */

.header-main {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: inline-flex;
  color: #2e2f42;
  gap: 40px;
  /* height: 48px; */
}

.header-logo {
  color: #404bbf;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.header-logo-sp {
  color: #2e2f42;
}
.nav-list {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-list:hover,
.nav-list:focus {
  color: #404bbf;
}
.nav-list.active{
  color:#404bbf;
}

.nav-list.active::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  background: #404bbf;
  color: #404bbf;
  width: 48px;
  height: 4px;
  margin-top: 20px;
  bottom: -1px;
}

.adr {
  font-style: normal;
}
.adr-list {
  display: flex;
  gap: 40px;
  align-content: flex-end;
}
.nav-link {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
/* hero */
.hero-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  margin-bottom: 48px;
}
.hero {
  width: 1440px;
  margin: 0 auto;
  height: 600px;
  flex-shrink: 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  padding: 188px 0;
  background-repeat: no-repeat;
  max-width: 1440px;
  background-position: center;
}
.hero-btn {
  display: block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* benefits */

.benefits {
  padding: 120px 0;
}
.benef-list {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 24px;
}
.benef-list-item {
  width: calc((100% - 72px) / 4);
}
.benef-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  background-color: #f4f4fd;
  border-radius: 4px;
border: 1px solid #8E8F99;
}
.benef-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.benef-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/* Our team */

.team {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-main-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 3 * 24px) / 4);
  box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-people {
  padding: 32px 0;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.team-descr {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  list-style-type: none;
}
.team-links-item {
  display: flex;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-links-icon {
  fill: #f4f4fd;
}
.team-links-item:hover,
.team-links-item:focus {
  /* background-color: #31d0aa; */
  background-color:#404bbf; ;
}

/* Portfolio */
.portfolio {
  padding: 120px 0 120px 0;
}
.portfolio-main-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-items {
  background: #ffffff;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-about {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-img {
  width: 360px;
  height: 300px;
  flex-shrink: 0;
}

.portfolio-descr {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.overlay-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  width: 360px;
  height: 300px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-items:hover .overlay-text {
  transform: translateY(0%);
}
.portfolio-items:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* FOOTER */

.footer {
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;

}
.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-sp {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer {
  background-color: #2e2f42;
  height: 312px;
}
.footer-desc{
  margin-right: 120px;
}
.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style-type: none;
}
.footer-links-item {
  display: flex;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-links-item:hover,
.footer-links-item:focus {
  background-color: #31d0aa;
}
.footer-links-icon {
  fill: #f4f4fd;
}
.footer-social {
  display: block;
  width: 208px;
  height: 80px;
  /* margin-left: 120px; */
}

.footer-text-social {
  margin-bottom: 16px;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
